<ion-header>
  <ion-toolbar>
    <ng-container>
      <ion-buttons *ngIf="!show" slot="start">
        <ion-menu-button class="text"></ion-menu-button>
      </ion-buttons>
    </ng-container>

    <ng-container *ngIf="!show">
      <ion-title class="text">Cores</ion-title>
      <ion-icon (click)="sort()" slot="end" class="search" name="filter"></ion-icon>
      <ion-icon (click)="toggle()" slot="end" class="search" name="search"></ion-icon>
    </ng-container>

    <ng-container slot="start" *ngIf="show">
      <ion-item lines="none" class="input-style">
        <ion-searchbar (search)="filterList($event)"></ion-searchbar>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="show">
      <ion-buttons slot="end">
        <ion-icon (click)="getCores()" class="goBack" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
    </ng-container>

  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <div *ngFor="let core of cores">
    <ion-card *ngIf="core?.status">
      <ion-card-header class="launch">

        <ion-row>
          <ion-col size="10">
            <ion-card-subtitle>{{ core?.original_launch | date: 'd MMM, y, h:mm:ss a' }}</ion-card-subtitle>
            <span class="bold">{{ core?.core_serial }}</span>
          </ion-col>
          <ion-col class="ion-text-end" size="2">
            Block <span class="bold" *ngIf="core?.block">{{ core?.block }}</span>
            <span class="bold" *ngIf="!core?.block">TBD</span>
          </ion-col>
        </ion-row>

        <ion-card-content *ngIf="core?.details" class="details text">{{ core?.details }}</ion-card-content>

        <ion-row class="ion-margin-top">
          <ion-col size="6">
            <ion-card-subtitle>Missions</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6" *ngFor="let x of core.missions">
            <ion-card-subtitle>{{ x.name }}</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>RTLS landings</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ core?.rtls_landings }}</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>ASDS landing</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ core?.asds_landings }}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-header>
    </ion-card>
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>