.opened {
    border-bottom: 2px solid #CCB157;
}

.launch {
    background-color: #23282C;
}

.text {
    color: white;
    font-weight: 100;
}

.youtube {
    color: #CCB157;
}

ion-card {
    border-radius: 3px;
}

.search {
    color: white;
    zoom: 1.3;
    padding-right: 10px;
    padding-left: 10px;
}

.goBack {
    color: white;
    zoom: 1.5;
    padding-right: 10px;
    padding-left: 10px;
}

.input-style {
    --color: white;
}

.input {
    font-size: 15px !important;
}

