<ion-content [scrollEvents]="true">
    <ion-card *ngFor="let launch of launches">
        <ion-card-header class="launch">

            <ion-row>
                <ion-col size="11">
                    <ion-card-subtitle class="text">F-NR {{ launch?.flight_number }}</ion-card-subtitle>
                </ion-col>
                <ion-col size="1">
                    <ion-icon style="color: green" *ngIf="launch.launch_success == true" name="checkmark-circle">
                    </ion-icon>
                    <ion-icon style="color: red" *ngIf="launch.launch_success== false" name="close-circle"></ion-icon>
                </ion-col>
            </ion-row>

            <ion-card-title class="text" style="font-size: 21px;">
                {{ (launch?.mission_name.length > 20) ? (launch?.mission_name | slice: 0:20)+'...':(launch?.mission_name) }}
            </ion-card-title>
            <ion-card-subtitle class="text">{{ launch?.launch_date_local | date: 'd MMM, y, h:mm:ss a' }}
            </ion-card-subtitle>

            <ion-row class="ion-margin-top">
                <ion-col class="youtube" style="font-size: 18px;" size="1">
                    <ion-icon name="logo-youtube"></ion-icon>
                </ion-col>
                <ion-col size="7">
                    <a class="youtube" href="{{ launch?.links.video_link }}" target="_blank"
                        style="font-size: 17px;">WATCH
                        NOW</a>
                </ion-col>
                <ion-col size="4" style="font-size: 17px;">
                    <a class="youtube" (click)="launchPage(launch)">SEE MORE</a>
                </ion-col>
            </ion-row>

        </ion-card-header>
    </ion-card>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>