<ion-content [scrollEvents]="true">
  <div class="rocket">
    <div class="container">
      <img src="{{ rocket?.flickr_images[0] }}">
      <ion-buttons (click)="goBack()" class="top-left">
        <ion-icon class="iconBack" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
      <ion-card-header class="bottom-left">
        <ion-card-title class="header text title">{{ rocket?.rocket_name }}</ion-card-title>
      </ion-card-header>
    </div>
    <ion-card-content>
      <ion-grid class="grid">
        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>TYPE</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>ACTIVE</ion-card-subtitle>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle class="text type">{{ rocket?.rocket_name}}</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>
              <ion-icon class="active" style="color: green" name="checkmark-circle" *ngIf="rocket?.active"></ion-icon>
              <ion-icon class="active" style="color: red" name="close-circle" *ngIf="!rocket?.active"></ion-icon>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-card-subtitle class="ion-margin-top">{{ rocket?.first_flight | date: 'd MMM, y' }}</ion-card-subtitle>

    </ion-card-content>

    <ion-card-content class="text">
      {{ rocket?.description }}
    </ion-card-content>

    <ion-card-content class="text">
      <ion-grid class="grid-info">
        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Company</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ rocket?.company }}</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="4">
            <ion-card-subtitle>Country</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="8">
            <ion-card-subtitle>{{ rocket?.country }}</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Cost per launch</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ rocket?.cost_per_launch | currency }}</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Success rate</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ rocket?.success_rate_pct }}%</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Date first flight</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ rocket?.first_flight}}</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Boosters</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ rocket?.boosters }}</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Stages</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ rocket?.stages }}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>


    <ion-card-content>

      <ion-grid class="grid">
        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle class="text type">Metrics</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="grid-info">

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Height</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ rocket?.height.meters }}m/{{ rocket?.height.feet }}ft</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Diameter</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ rocket?.diameter.meters }}m/{{ rocket?.diameter.feet }}ft</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Mass</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ rocket?.mass.kg }}kg/{{ rocket?.mass.lb }}lb</ion-card-subtitle>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>

    <ion-card-content>
      
      <ion-grid class="grid">
        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle class="text type">Leo</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>

      <ion-grid class="grid-info">

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Type</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle *ngFor="let x of rocket?.payload_weights">{{ x.name }}</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Mass</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle *ngFor="let x of rocket?.payload_weights">{{ x?.kg }}kg/{{ x?.lb }}lb</ion-card-subtitle>
          </ion-col>
        </ion-row>

      </ion-grid>

    </ion-card-content>


  </div>
</ion-content>