.launch {
    background-color: #23282C;
}

.text {
    color: white;
    font-weight: 100;
}

.title {

    font-size: 20px;
}

.youtube {
    color: #CCB157;
}

ion-card {
    border-radius: 3px;
}

.avatar {
    width: 70px;
}

.iconBack {
    color: white;
    zoom: 1.5;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px #ff0000;
}

.static {
    font-style: italic;
    font-size: 15px;
    padding-top: 5px;
}

hr.solid {
    border-top: 1px solid #292F33;
}

.label {
    font-size: 15px;
    color: #CCB157;
    padding-left: 5px;
}

.icon {
    font-size: 15px;
    color: #CCB157;
}

.moreInfo {
    background-color: #292F33;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 6px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 6px;
  }

.title {
    font-size: 30px;
    padding-inline-start: 0px;
}

img {
    height: 200px;
    width: 100%;
}

.rocket {
    background-color: #23282C;
}

.type {
    font-size: 20px;
}

.active {
    font-size: 25px;
}

.grid {
    padding-inline-start: 0px;
    --ion-grid-column-padding: 0px;
}

.grid-info {
    padding-inline-start: 0px;
}

.header {
    padding-inline-start: 0px;
}

.metrics {
    background-color:  #292F33;
}