<ion-content fullscreen>
  <ion-card *ngFor="let rocket of rockets" class="rocket">
    <img src="{{ rocket?.flickr_images[0] }}">
    <ion-card-header>
      <ion-card-title class="text">{{ rocket?.rocket_name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="text">
      {{ rocket?.description }}
    </ion-card-content>

    <hr class="solid">

    <ion-chip (click)="rocketPage(rocket)">
      <ion-icon class="icon" name="rocket"></ion-icon>
      <ion-label class="label">ROCKET SPECS</ion-label>
    </ion-chip>

  </ion-card>
</ion-content>