
.rocket {
    background-color: #23282C;
}

.text {
    color: white;
    font-weight: 100;
}


ion-card {
    border-radius: 3px;
}

img {
    height: 200px;
    width: 100%;
}

hr.solid {
    border-top: 1px solid #292F33;
}

.label {
    font-size: 15px;
    color: #CCB157;
    padding-left: 5px;
}

.icon {
    font-size: 15px;
    color: #CCB157;
}
