<ion-header color="primary">
  <ion-toolbar>
    <ion-buttons (click)="goBack()" slot="start">
      <ion-icon class="iconBack" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
    <ng-container>
      <ion-title class="text">{{ launch?.mission_name }}</ion-title>
      <ion-icon (click)="toastTest()" slot="end" class="iconBack" name="share-social-outline"></ion-icon>
    </ng-container>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="launch">
    <ion-card-header>
      <ion-grid>
        <ion-row>

          <ion-col size="3">
            <img *ngIf="!launch?.links.mission_patch_small" class="avatar"
              src="https://cdn.onlinewebfonts.com/svg/img_452053.png">
            <img *ngIf="launch?.links.mission_patch_small" class="avatar" src="{{ launch?.links.mission_patch_small }}">
          </ion-col>

          <ion-col size="7">
            <ion-card-subtitle>{{ launch?.launch_site.site_name }}</ion-card-subtitle>
            <ion-card-title class="text title">{{ launch?.mission_name }}</ion-card-title>
            <ion-card-subtitle class="ion-padding-top">{{ launch?.launch_date_utc | date: 'd MMM, y, h:mm a' }}
            </ion-card-subtitle>
            <ion-card-subtitle *ngIf="!launch?.upcoming">{{ launch?.static_fire_date_utc | date: 'd MMM, y, h:mm a' }}
              <span *ngIf="launch?.static_fire_date_utc" class="static">(static)</span></ion-card-subtitle>

          </ion-col>

          <ion-col class="ion-text-end" size="2">
            <ion-card-subtitle>F-NR</ion-card-subtitle>
            <span class="text title">{{ launch?.flight_number }}</span>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content class="text">{{ launch?.details }}</ion-card-content>

    <hr class="solid">

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-chip (click)="rocketPage(launch.rocket.rocket_id)">
            <ion-icon class="icon" name="rocket"></ion-icon>
            <ion-label class="label">ROCKET SPECS</ion-label>
          </ion-chip>
        </ion-col>
        <ion-col>
          <ion-chip>
            <ion-icon class="icon" name="caret-up-circle-outline"></ion-icon>
            <ion-label class="label">LAUNCHPAD</ion-label>
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>

  <div *ngFor="let x of launch?.rocket.first_stage.cores">
    <div *ngIf="x.core_serial">
      <ion-chip class="moreInfo">
        <ion-icon class="title text" name="radio-button-on"></ion-icon>
        <ion-label class="title text">Cores</ion-label>
      </ion-chip>
      <ion-card class="launch">

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Core serial</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ x.core_serial }}</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Landing vehicle</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ x.landing_vehicle }}</ion-card-subtitle>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Reused</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-icon style="color: green" name="checkmark-circle" *ngIf="x.reused"></ion-icon>
            <ion-icon style="color: red" name="close-circle" *ngIf="!x.reused"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Landing Successful</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-icon style="color: green" name="checkmark-circle" *ngIf="x.land_success"></ion-icon>
            <ion-icon style="color: red" name="close-circle" *ngIf="!x.land_success"></ion-icon>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            <ion-card-subtitle>Landing type</ion-card-subtitle>
          </ion-col>
          <ion-col class="ion-text-end" size="6">
            <ion-card-subtitle>{{ x.landing_type }}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>

  <ion-chip class="moreInfo">
    <ion-icon class="title text" name="navigate-circle"></ion-icon>
    <ion-label class="title text">Payloads</ion-label>
  </ion-chip>
  <div *ngFor="let y of launch?.rocket.second_stage.payloads">
    <ion-card class="launch">

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Payload</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle>{{ y.payload_id }}</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Reused</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-icon style="color: green" name="checkmark-circle" *ngIf="y.reused"></ion-icon>
          <ion-icon style="color: red" name="close-circle" *ngIf="!y.reused"></ion-icon>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Mass</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle>{{ y.payload_mass_kg }} kg / {{ y.payload_mass_lbs }} lb</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Payload type</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle>{{ y.payload_type }}</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Orbit</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle>{{ y.orbit }}</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Reference Systel label</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle>{{ y.orbit_params.reference_system }}</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Regime</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle>{{ y.orbit_params.regime }}</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Longitude</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle *ngIf="y.orbit_params.longitude">{{ y.orbit_params.longitude }}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="!y.orbit_params.longitude">0</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Semi Major Axis</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle *ngIf="y.orbit_params.semi_major_axis_km">{{ y.orbit_params.semi_major_axis_km }}
          </ion-card-subtitle>
          <ion-card-subtitle *ngIf="!y.orbit_params.semi_major_axis_km">0</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Eccentricity</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle *ngIf="y.orbit_params.eccentricity">{{ y.orbit_params.eccentricity }}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="!y.orbit_params.eccentricity">0</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Periapsis</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle *ngIf="y.orbit_params.periapsis_km">{{ y.orbit_params.periapsis_km }}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="!y.orbit_params.periapsis_km">0</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Apoapsis</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle *ngIf="y.orbit_params.apoapsis_km">{{ y.orbit_params.apoapsis_km }}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="!y.orbit_params.apoapsis_km">0</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Inclination</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle *ngIf="y.orbit_params.inclination_deg">{{ y.orbit_params.inclination_deg }}
          </ion-card-subtitle>
          <ion-card-subtitle *ngIf="!y.orbit_params.inclination_deg">0</ion-card-subtitle>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Period</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle *ngIf="y.orbit_params.period_min">{{ y.orbit_params.period_min }}</ion-card-subtitle>
          <ion-card-subtitle *ngIf="!y.orbit_params.period_min">0</ion-card-subtitle>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-card-subtitle>Lifespan</ion-card-subtitle>
        </ion-col>
        <ion-col class="ion-text-end" size="6">
          <ion-card-subtitle *ngIf="y.orbit_params.lifespan_years">{{ y.orbit_params.lifespan_years }}
          </ion-card-subtitle>
          <ion-card-subtitle *ngIf="!y.orbit_params.lifespan_years">0</ion-card-subtitle>
        </ion-col>
      </ion-row>

    </ion-card>
  </div>

  <ion-fab *ngIf="launch?.upcoming" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon style="color: white;" name="calendar"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab *ngIf="!launch?.upcoming" vertical="bottom" horizontal="end" slot="fixed">
    <a class="youtube" href="{{ launch?.links.video_link }}" target="_blank" style="font-size: 17px;">
      <ion-fab-button color="danger">
        <ion-icon style="color: white;" name="logo-youtube"></ion-icon>
      </ion-fab-button>
    </a>
  </ion-fab>

</ion-content>