<ion-header color="primary">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button class="text"></ion-menu-button>
        </ion-buttons>
        <ion-title class="text">What did I miss?</ion-title>
        <ion-icon (click)="refresh()" class="search" slot="end" name="refresh-outline"></ion-icon>
      </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
    <ion-grid>
        <ion-row>
            <ion-col size-lg="10" offset-lg="1">
                <a class="twitter-timeline" data-theme="dark" href="https://twitter.com/SpaceX?ref_src=twsrc%5Etfw"></a>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>