<ion-header color="primary" style="margin-bottom: 50px;">
  <ion-toolbar>
    <ng-container>
      <ion-buttons *ngIf="!show" slot="start">
        <ion-menu-button class="text"></ion-menu-button>
      </ion-buttons>
    </ng-container>

    <ng-container *ngIf="!show">
      <ion-title class="text">Launches</ion-title>
      <ion-icon (click)="sort()" slot="end" class="search" name="filter"></ion-icon>
      <ion-icon (click)="toggle()" slot="end" class="search" name="search"></ion-icon>
    </ng-container>

    <ng-container slot="start" *ngIf="show">
      <ion-item lines="none" class="input-style">
        <ion-searchbar (search)="filterList($event)"></ion-searchbar>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="show">
      <ion-buttons slot="end">
        <ion-icon (click)="toggle()" class="goBack" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
    </ng-container>
  </ion-toolbar>

  <ion-content>
    <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button class="text" [ngClass]="{'opened': upcomingLaunches}" (click)="loadUpcoming()">
          <ion-icon name="time-outline"></ion-icon>Upcoming
        </ion-tab-button>
        <ion-tab-button class="text" [ngClass]="{'opened': !upcomingLaunches}" (click)="loadPast()">
          <ion-icon name="checkmark-circle"></ion-icon>Completed
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</ion-header>

<ion-content *ngIf="upcomingLaunches" [scrollEvents]="true">
  <app-upcoming-launches></app-upcoming-launches>
</ion-content>
<ion-content *ngIf="!upcomingLaunches" [scrollEvents]="true">
  <app-past-launches></app-past-launches>
</ion-content>