<ion-header color="primary">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button class="toolbar"></ion-menu-button>
        </ion-buttons>
        <ion-title class="toolbar">History</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">

</ion-content>