<ion-header color="primary">
    <ion-toolbar>
        <ion-buttons (click)="goBack()" slot="start">
            <ion-icon class="iconBack" name="arrow-back-outline"></ion-icon>
        </ion-buttons>
        <ng-container>
            <ion-title class="text">{{ capsule?.capsule_serial }} - {{ capsule?.type }}</ion-title>
            <ion-icon (click)="toastTest()" slot="end" class="iconBack" name="share-social-outline"></ion-icon>
        </ng-container>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>