.launch {
    background-color: #23282C;
}

.text {
    color: white;
    font-weight: 100;
}

.title {

    font-size: 20px;
}

.youtube {
    color: #CCB157;
}

ion-card {
    border-radius: 3px;
}

.avatar {
    width: 70px;
}

.iconBack {
    color: white;
    zoom: 1.5;
    padding-right: 10px;
    padding-left: 10px;
}

.static {
    font-style: italic;
    font-size: 15px;
    padding-top: 5px;
}

hr.solid {
    border-top: 1px solid #292F33;
}

.label {
    font-size: 15px;
    color: #CCB157;
    padding-left: 5px;
}

.icon {
    font-size: 15px;
    color: #CCB157;
}

.moreInfo {
    background-color: #292F33;
}