<ion-content fullscreen>
    <ion-card *ngFor="let capsule of capsules" class="capsule">

        <ion-card-header>
            <ion-card-title class="text">{{ capsule?.capsule_serial }} - {{ capsule?.type }}</ion-card-title>
        </ion-card-header>

        <ion-row>
            <ion-col size="6">
                <ion-card-subtitle>Status</ion-card-subtitle>
            </ion-col>
            <ion-col class="ion-text-end" size="6">
                <ion-card-subtitle>{{ capsule.status | titlecase }}</ion-card-subtitle>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6">
                <ion-card-subtitle>Active since</ion-card-subtitle>
            </ion-col>
            <ion-col class="ion-text-end" size="6">
                <ion-card-subtitle>{{ capsule?.original_launch | date: 'd MMM, y, h:mm:ss a' }}</ion-card-subtitle>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="6">
                <ion-card-subtitle>Missions</ion-card-subtitle>
            </ion-col>
            <ion-col class="ion-text-end" size="6">
                <ion-card-subtitle>{{ capsule.missions.length }}</ion-card-subtitle>
            </ion-col>
        </ion-row>

        <hr class="solid">

        <ion-chip (click)="capsulePage(capsule)">
            <ion-icon class="icon" name="send-outline"></ion-icon>
            <ion-label class="label">CAPSULE SPECS</ion-label>
        </ion-chip>

    </ion-card>
</ion-content>