<ion-header color="primary">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button class="toolbar"></ion-menu-button>
        </ion-buttons>
        <ion-title class="toolbar">About SpaceX</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">

    <div class="ion-margin">
        <img src="https://www.vhv.rs/dpng/d/453-4533340_spacex-logo-png-white-spacex-black-logo-png.png" />
        <ion-card-subtitle class="musk">{{ info?.founder }}, {{ info?.founded }}</ion-card-subtitle>
        <ion-card-subtitle class="adress">{{ info?.headquarters.address }}, {{ info?.headquarters.city }}, {{ info?.headquarters.state }}</ion-card-subtitle>

        <ion-card-content class="details">{{ info?.summary }}</ion-card-content>

        <ion-card-header class="header">Lead</ion-card-header>
        <ion-row>
            <ion-col size="6">
                <ion-card-subtitle class="text">CEO</ion-card-subtitle>
            </ion-col>
            <ion-col class="ion-text-end" size="6">
                <ion-card-subtitle class="text">{{ info?.ceo }}</ion-card-subtitle>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-subtitle class="text">CTO</ion-card-subtitle>
            </ion-col>
            <ion-col class="ion-text-end" size="6">
                <ion-card-subtitle class="text">{{ info?.cto }}</ion-card-subtitle>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-subtitle class="text">CTO Propulsion Dep.</ion-card-subtitle>
            </ion-col>
            <ion-col class="ion-text-end" size="6">
                <ion-card-subtitle class="text">{{ info?.cto_propulsion }}</ion-card-subtitle>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-subtitle class="text">COO</ion-card-subtitle>
            </ion-col>
            <ion-col class="ion-text-end" size="6">
                <ion-card-subtitle class="text">{{ info?.coo }}</ion-card-subtitle>
            </ion-col>
        </ion-row>

        <ion-card-header class="header">Statistics</ion-card-header>
        <ion-row>
            <ion-col size="6">
                <ion-card-subtitle class="text">Value</ion-card-subtitle>
            </ion-col>
            <ion-col class="ion-text-end" size="6">
                <ion-card-subtitle class="text">{{ info?.valuation }}</ion-card-subtitle>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-subtitle class="text">Test sites</ion-card-subtitle>
            </ion-col>
            <ion-col class="ion-text-end" size="6">
                <ion-card-subtitle class="text">{{ info?.test_sites }}</ion-card-subtitle>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-subtitle class="text">Launch sites</ion-card-subtitle>
            </ion-col>
            <ion-col class="ion-text-end" size="6">
                <ion-card-subtitle class="text">{{ info?.launch_sites }}</ion-card-subtitle>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-subtitle class="text">Employees</ion-card-subtitle>
            </ion-col>
            <ion-col class="ion-text-end" size="6">
                <ion-card-subtitle class="text">{{ info?.employees }}</ion-card-subtitle>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size="6">
                <ion-card-subtitle class="text">Vehicles</ion-card-subtitle>
            </ion-col>
            <ion-col class="ion-text-end" size="6">
                <ion-card-subtitle class="text">{{ info?.vehicles }}</ion-card-subtitle>
            </ion-col>
        </ion-row>
    </div>
</ion-content>