.text {

    font-weight: 100;
}

.toolbar {
    color: white;
    font-weight: 100;
}

.header {
    color: white;
    font-size: 22px;
    padding-inline-start: 5px;
    font-weight: 500;
}

ion-card {
    border: 0px;
    box-shadow: 0;
}

.details {
    color: white;
    padding-inline-start: 5px;
}

.musk {
    margin-top: 20px;
    color:white;
    font-size: 25px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adress {
    font-size: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}