<ion-header>
  <ion-toolbar>
    <ng-container>
      <ion-buttons *ngIf="!show" slot="start">
        <ion-menu-button class="text"></ion-menu-button>
      </ion-buttons>
    </ng-container>

    <ng-container *ngIf="!show">
      <ion-title class="text">Acronyms</ion-title>
      <ion-icon (click)="sort()" slot="end" class="search" name="filter"></ion-icon>
      <ion-icon (click)="toggle()" slot="end" class="search" name="search"></ion-icon>
    </ng-container>

    <ng-container slot="start" *ngIf="show">
      <ion-item lines="none" class="input-style">
        <ion-searchbar inputmode="search" (ionInput)="filterList($event)"></ion-searchbar>
      </ion-item>
    </ng-container>

    <ng-container *ngIf="show">
      <ion-buttons slot="end">
        <ion-icon (click)="getAllAcronyms()" class="goBack" name="arrow-back-outline"></ion-icon>
      </ion-buttons>
    </ng-container>

  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true">
  <ion-card *ngFor="let a of acronyms">

    <ion-row class="ion-margin-top card">
      <ion-col size="3">
        <ion-card-title class="title">{{ a.acronym }}</ion-card-title>
      </ion-col>
      <ion-col size="9">
        <ion-card-subtitle class="subtitle">{{ a.fullText }}</ion-card-subtitle>
        <ion-card-content class="details">{{ a.details }}</ion-card-content>
      </ion-col>
    </ion-row>


  </ion-card>
</ion-content>