.details {
    color: grey;
    font-weight: 100;

    padding-inline-start: 0px;
    padding-inline-end: 0px;
}

.text {
    color: white;
    font-weight: 100;
}

.bold {
    color: #CCB157;
    font-weight: 500;
    font-size: 22px;
}

.youtube {
    color: #CCB157;
}

ion-card {
    border-radius: 3px;
}

.details { 
    padding-inline-start: 0px;
    padding-inline-end: 5px;
}

.search {
    color: white;
    zoom: 1.3;
    padding-right: 10px;
    padding-left: 10px;
}

.title {
    color: white;
    font-size: 20px
}

.subtitle {
    color: white;
    font-size: 15px
}

ion-card {
    background-color: #23282C;
}

.search {
    color: white;
    zoom: 1.3;
    padding-right: 10px;
    padding-left: 10px;
}

.goBack {
    color: white;
    zoom: 1.5;
    padding-right: 10px;
    padding-left: 10px;
}

.input-style {
    --color: white;
}

.input {
    font-size: 15px !important;
}


ion-searchbar {
    --box-shadow: none;
    --color: white;
    --icon-color: white;
}
